.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.list {
  padding-left: 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {  
  display: grid;
  border: 2px solid gray;
  grid-template-columns: 120px 1fr 3fr;
  grid-template-rows: 50px 1fr;
  padding: 10px;
}

.list-name {
  grid-column: 2 / 4;
  margin-top: 10px;
}

.list-year {
  grid-column: 2 / 3;
}

.list-image {
  width: 100px;
  grid-row: 1 / 3;
}

.list-description {
  flex: 1;
  grid-column: 3 / 4;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 1em;
}

.form-input,
.form-textarea {
  font-size: 1.3em;
}

.form-button {
  font-size: 1.5em;
  background-color: rgb(245, 205, 153);
}

.form-button:hover {
  background-color: rgb(247, 218, 181);
}


